body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image {
    background-image: url(/imagens/capa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Mantém o alinhamento central vertical padrão */
    flex-direction: column; /* Adicionado: Para que o margin-top funcione corretamente no item filho */
}

.start-button {
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 150px; /* Ajuste este valor para mover o botão para baixo */
}

.start-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}